@model IEnumerable<Crow.Models.UserBird>

@{
    ViewData["Title"] = "Home Page";
    var numBirds = ViewBag.NumBirds;
}

<div class="text-center">
    <row>
        <h1 class="centered-header">Crow</h1>

    </row>
    <row>
        <p class="sub-header">Your personal life list tracker</p>
    </row>
</div>


