<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Crow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Crow.styles.css" asp-append-version="true" />
</head>

@{
    var bodyClass = ViewData["BodyClass"]?.ToString() ?? "default";
}

<body class="@ViewData["BodyClass"]">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 align-content-center">
            <div class="container-fluid">
                @if (bodyClass == "default")
                {
                    <a class="navbar-brand white-text" style="margin-left: 10px;" asp-area="" asp-controller="Home" asp-action="Index">Crow</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 black-text">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="UserBirds" asp-action="Index">Life List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Birds" asp-action="Index">Discover</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="mb-5">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted mt-5">
    <div class="container">
    &copy; 2024 - Crow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
